<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Pet Depot</title>
    <!-- Vue 2 js CDN link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <!-- Bootstrap icons cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
  <!-- The element where the vue will be mounted. -->
   <div id="app">
    <header>
        <h1 v-text="sitename"></h1>
        <button type="button" v.on:click="showcheckout">{{cartitemcount}}<span class="bi bi-cart-fill"></span> Checkout</button>
    </header>
    <main>
        <div v-if="showproduct">
    <figure>
        <img v-bind:src="product.image" alt="">
    </figure>
    <h2 v-text="product.title"></h2>
    <!-- v-html is for including html tags in vue.js like the <em> tag. -->
    <p v-html="product.description"></p>
    <p>Price:{{product.price}}</p>
    <!-- Inventory -->
    <p>Available stock: {{product.availableinventory}}</p>
    <!-- 4th October -->
<button type="button" v-on:click="addtocart" v-if="canaddtocart">Add to cart</button>
<button type="button" disabled="disabled" v-else>Add to cart</button>
</div>

<div v-else><h2>Checkout</h2></div>
</main>
   </div>
   <script>
    let webstore = new Vue({ //The Vue instance/constructor.
            el: "#app", //The ID mentioned in the <div> tag.
            //The data command.
            data: {
                //To show the product.
                showproduct: true,
                //The sitename matches the v-text value that was mentioned in the HTML file.
                sitename: "Vue.js Pet Depot",
                product: {
                    id: 1001,
                    title: "Cat food 25lb bag",
                    description: "A 25 pound bag of <em>irresistable</em>," + " organic goodness for your cat.",
                    price: " AED 2000",
                    image: "images/catfood.png",
                    availableinventory: 5
                },
                //Array to store the items into the shopping cart.
                cart: []
            },
            methods: {
                addtocart: function () {
                    this.cart.push(this.product.id);
                    this.product.availableinventory--;
                }
            },
            showcheckout() {
                this.showproduct = this.showproduct ? false : true;
            },
            //computed property
        computed: {
            cartitemcount: function () {
                 //The value is calculated when it's executed.
                //The speech marks mean that the item's quantity in the cart is empty.
                return this.cart.length || "";
            },
            canaddtocart: function () {
                return this.product.availableinventory > 0;
            }
        }
        });
   </script>  
</body>
</html>